@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0%, 0 ,0);
    }
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0%, 0 ,0);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
        -webkit-transform: translate3d(0%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0 ,0);
    }
}


@-webkit-keyframes slideOut {
    0% {
        -webkit-transform: translate3d(0%, 0 ,0);
    }
    100% {
        -webkit-transform: translate3d(-30%, 0 ,0);
    }
}

@-webkit-keyframes slideOutRev {
    0% {
        -webkit-transform: translate3d(-30%, 0 ,0);
    }
    100% {
        -webkit-transform: translate3d(0%, 0 ,0);
    }
}

@-webkit-keyframes slideInRev {
    0% {
        -webkit-transform: translate3d(0%, 0 ,0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0 ,0);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0%, 0);
    }
}

@-webkit-keyframes slideUpRev {
    0% {
        -webkit-transform: translate3d(0, 0%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes dash {
    0% { stroke-dashoffset: 187; }
    50% {
        stroke-dashoffset: 47;
        -webkit-transform:rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform:rotate(450deg);
    }
}

@-webkit-keyframes rotator {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(270deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.185);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes scaleInRev {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.815);
    }
}

@-webkit-keyframes scaleOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.185);
    }
}

@-webkit-keyframes scaleOutRev {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.815);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes stayBack {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0%, 0 ,0);
    }
}
@-webkit-keyframes slideToRight {
    0% {
        -webkit-transform: translate3d(0%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0 ,0);
    }
}

@-webkit-keyframes slideToLeft {
    0% {
        -webkit-transform: translate3d(0%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0 ,0);
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0%, 0 ,0);
    }
}
@-webkit-keyframes comeIn {
    0% {
        -webkit-transform: translate3d(0, 5%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes comeOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 5%, 0);
    }
}

@-webkit-keyframes null {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes like {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes unlike {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.slide-in {
    z-index: 2 !important;
    -webkit-animation: slideIn 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-out {
    z-index: 1 !important;
    -webkit-animation: slideOut 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-in-rev {
    z-index: 2 !important;
    -webkit-animation: slideInRev 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-out-rev {
    z-index: 1 !important;
    -webkit-animation: slideOutRev 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-up {
    z-index: 9 !important;
    -webkit-animation: slideUp 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.slide-up-rev {
    z-index: 9 !important;
    -webkit-animation: slideUpRev 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.fade-in {
    -webkit-animation: fadeIn 550ms;
    z-index: 10 !important;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.fade-in-rev {
    z-index: 10 !important;
    -webkit-animation: fadeOut 550ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.fade-out {
    z-index: 9;
    -webkit-animation: fadeOut 550ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.fade-out-rev {
    z-index: 9;
    -webkit-animation: fadeIn 550ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.scale-in {
    z-index: 9 !important;
    -webkit-animation: scaleIn 700ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.scale-in-rev {
    -webkit-animation: scaleInRev 700ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.scale-out {
    -webkit-animation: scaleOut 700ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.scale-out-rev {
    -webkit-animation: scaleOutRev 700ms;
    -webkit-animation-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.stay {
    -webkit-animation: stayBack 650ms;
}
.slide-to-right {
    -webkit-animation: slideToRight 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-from-right {
    -webkit-animation: slideFromRight 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-from-left {
    -webkit-animation: slideFromLeft 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-to-left {
    -webkit-animation: slideToLeft 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.come-in{
    -webkit-animation: comeIn 550ms;
    -webkit-animation-timing-function: cubic-bezier(.3,.98,.52,.96);
}
.come-out{
    -webkit-animation: comeOut 550ms;
    -webkit-animation-timing-function: cubic-bezier(.3,.98,.52,.96);
}
.null {
    -webkit-animation: null 1ms;
    -webkit-animation-delay: 550ms;
}

.slide-left-in {
    z-index: 2 !important;
    -webkit-animation: slideLeftIn 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
.slide-left-out {
    z-index: 2 !important;
    -webkit-animation: slideLeftOut 650ms;
    -webkit-animation-timing-function: cubic-bezier(0.23,1,0.32,1);
}
